<h2 mat-dialog-title>{{description.folder_id}}</h2>
<mat-dialog-content *ngIf="show==true">

  <mat-form-field>
    <input matInput placeholder="File Name" [(ngModel)]="description.file_name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input required matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="description.start_date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input required matInput [matDatepicker]="end" placeholder="End Date" [(ngModel)]="description.end_date">
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker #end></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Write Notes" [(ngModel)]="description.notes">
  </mat-form-field>
  <br>
  <mat-radio-group [(ngModel)]="toggelRadio">
    <mat-radio-button value="1">Upload file</mat-radio-button>
    <mat-radio-button value="2">Open camera</mat-radio-button>
    
  </mat-radio-group>
  <br>
  <br>
  <input required *ngIf="toggelRadio==1" type="file" (change)="onFileSelected($event)">
  <button required *ngIf="toggelRadio==2" mat-button color="primary" (click)="openDialog()">Take A pic</button>
  

</mat-dialog-content>
<app-loading-indicator [loading]="loading"></app-loading-indicator>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <!-- <app-loading-indicator [loading]="loading"></app-loading-indicator>                -->
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>  
</mat-dialog-actions>
