<h2 mat-dialog-title>{{description.folder_id}}</h2>

<mat-dialog-content>

    <mat-form-field>
        <input matInput placeholder="File Name" [(ngModel)]="description.file_name">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="description.start_date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput [matDatepicker]="end" placeholder="Start Date" [(ngModel)]="description.start_date">
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end></mat-datepicker>
    </mat-form-field>
    <br>

</mat-dialog-content>



<div id="fileSelector">
    <h3>Upload Section</h3>
    <input type="file" name="fileUpload" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
</div>
<div class="row uploadList" *ngFor="let item of uploader.queue">
    <div>{{item.file.name}}</div>
    <div>
        <div class="progress">
            <div class="progress-bar bg-success" [ngStyle]="{'width':item.progresss+'%'}"></div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
        <button type="button" class= "btn btn-danger" (click)="item.remove()">Cancel</button>
    </div>
<div class="row" *ngIf="uploader?.queue?.length > 0">
<button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
</div>

<div class="row card">
    <h4>Dowload Section</h4>
    <div class="row" *ngFor="let item attachmentList" style="margin:10px;padding:5px;background-color:white; border-radius:5px; line-height:40px; "></div>
<div>{{item.originalname}}</div>   
<div style="text-align: center;">
   <button type="button" class='btn btn-primary'>Dowload</button> 
</div> 
</div>

<mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>