<h2 mat-dialog-title>{{description.folder_id}}</h2>

<mat-dialog-content>
  
    <mat-form-field>
        <input matInput
                placeholder="File Name"
                [(ngModel)]="description.file_name">
    </mat-form-field>
    <br>
    <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Start Date" [(ngModel)]="description.start_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    <br>
    <mat-form-field>
            <input matInput [matDatepicker]="end" placeholder="Start Date" [(ngModel)]="description.start_date">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="upload file (not working)">
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>