/* .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  } */
  .img{
    width: 70px;
    height:auto;
    border-radius: 25%;
    direction: rtl;
    float: right;
    padding:0 14px;
    margin-top: 15px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .welcome{
    margin-right: 15px;
    margin-top: 10px;
  }