<mat-toolbar color="primary">

  <mat-toolbar-row>
    <img src="https://image.flaticon.com/icons/svg/334/334786.svg" alt="files" class="icon">
    <button mat-button class="smartyfile" routerLink="/folder">Smartyfile</button>

    <div class="welcomeDiv">
      <span class="welcome">Welcome {{currentUser.first_name}}</span>
      <br>
      <img mat-card-image *ngIf="currentUser.user_img" src="{{currentUser.user_img}}" alt="" class="img" type="button" (click)="zoomInImg()">
      <i *ngIf="!currentUser.user_img" class="material-icons">
        android
      </i>
    </div>
    <mat-drawer-container class="example-container" autosize>


      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <i class="material-icons menuButton">
            menu
          </i>
        </button>
      </div>

    </mat-drawer-container>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer #drawer class="example-sidenav" mode="side" [position]="nav_position">
  <button type="button" mat-button (click)="drawer.toggle()">
    <i class="material-icons arrowButton">
      keyboard_arrow_left
    </i>
  </button>
  <br>
  <button mat-button (click)="getLogOut()">LOG OUT</button>
  <br>
  <button mat-button (click)="openDialog(currentUser)">Edit user</button>
</mat-drawer>
