
<mat-toolbar color="primary">
  <mat-toolbar-row>
  <mat-drawer-container class="example-container" autosize style="background-color: rgb(96, 65, 176)">
  
    <!-- <div class="example-sidenav-content"> -->
      <button mat-button color="primary" type="button" mat-button (click)="drawer.toggle()" (click)="showFiller = !showFiller" mat-raised-button>
        <i class="material-icons">
          dehaze
          </i>
      </button>
    <button mat-button class="home" routerLink = "/folder"><i class="fa fa-home fa-3x" ></i></button>          
    <!-- </div> -->
  </mat-drawer-container>
</mat-toolbar-row>  
</mat-toolbar>
<mat-drawer #drawer class="example-sidenav" mode="side">
  <!-- <p>Auto-resizing sidenav</p> -->
  <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p> -->
  <button type="button" mat-button (click)="drawer.toggle()">
    <i class="material-icons">
      keyboard_arrow_left
      </i>
  </button>
  <br>
  <button mat-button (click)="getLogOut()">LOG OUT</button>  
</mat-drawer>

 

