
.file-unit {
    display: grid;
    grid-template: auto 50px 50px 50px / 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 2%;
    border-radius: 15px;
    border: 2px solid rgb(56, 12, 12);  
    grid-row-gap: 5px;
}


.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#div1 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin: auto;
    font-size: 35px; 

}


.upload-date {

    grid-row: 2 / 3;
    grid-column: 1 / 2;
    font-size: 14px;    
    margin: auto;
    text-align: center;
}

.start-date {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 14px;
    margin: auto;
    text-align: center;

}

.end-date {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 14px;
    margin: auto;
    text-align: center;
    
}

.picture {
    grid-row: 3 / 5;
    grid-column: 1 / 3;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.edit-btn {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    min-width: none;

}

.dlt-btn {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    min-width: none;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    margin-left: 60%;
    margin-top: 4%;
}







@media (max-width: 411px) and (max-height: 731px) { 
    .file-unit {
        grid-template: 40px minmax(160px, 200px) 50px / 1fr;
    }
     .edit-btn {
        min-width: none;

    }

    .dlt-btn {
        min-width: 10px;
    }
    .content p {
        display: none;
    }

}
