<mat-card class="file-unit">

    <mat-card-header class="header">
       <h1>{{file.file_name}}</h1>
    </mat-card-header>
    <div id="div1" [style.color]="colorFile()" class="fa">
      </div>
  
    <p class="upload-date"><strong>Upload date:</strong> <br> {{file.upload_date}}</p>
    <p class="start-date"><strong>Start date:</strong> <br> {{file.start_date}}</p>
    <p class="end-date"><strong>End date:</strong>  <br> {{file.end_date}}</p>
    <img src="{{file.the_file}}" class="picture" (click)="inLargePicDialog()">
  
    <button mat-button class="edit-btn" (click)="openDialog()">
      <i class="fas fa-pencil-alt fa-2x"></i>
    </button>
    <button mat-button class="dlt-btn" (click)="deleteFile()">
      <i class="fas fa-trash-alt fa-2x"></i>
    </button>
  
  </mat-card>