<mat-card>
  <mat-card-header class="fileUnit"></mat-card-header>
    <mat-card-content>
        <p class='link-file'>{{file.the_file}}</p>
      <h2 style="text-align:left;float:left;">{{file.file_name}}</h2>
      <br>
      <h3 style="text-align:left;">Upload date: {{file.upload_date}}</h3>
      <h4 style="text-align:left;">Start date: {{file.start_date}}</h4>
      <h4 style="text-align:left;">End date: {{file.end_date}}</h4>
      <br>
      <p style="text-align:left;">Notes: {{file.notes}}</p>
      <br>
      <button mat-button >See file</button>
      <button mat-button >See file</button>
      <button mat-button >See file</button>
    </mat-card-content>
</mat-card>

