.folders-grid {
    display:grid;
    grid-template: 200px 200px /  repeat(4,1fr);
    grid-gap: 10px;
    padding-top: 10px;
}

.addfile-btn {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.edit-btn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.remove-btn {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.folderName {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    font-size: 35px;
    margin: auto;
    padding: 2%;
    color: rgb(6, 24, 128);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}

.fa {
    color: rgb(41, 6, 124);
}


.folder {
    box-sizing: border-box;
    display:grid;
    grid-template: 10% 65% 25% / repeat(3, 1fr);
    width: 90%;
    height: 80%;
    margin: auto;
    position: relative;
    background-color: white;
    border-radius: 0 6px 6px 6px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.59);
}

.folder:before {
    content: '';
    width: 40%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: rgb(41, 6, 124);
    position: absolute;
    top: -12px;
    left: 0px;
}