<div class="app-grid">
  <div class="header">
<app-header></app-header>
  </div>
  <div class="folders-header">
      <div class="addfolder-toggle">
          <button mat-button color="primary" class="addnewfolder" (click)="toggleAddingNewFolder()">Add New Folder</button>
       </div>
       <div class="addfolder-action" *ngIf="isActive === true">
         <app-addfolder>loading...</app-addfolder>
       </div>
  </div>
<div class="folders-grid">
    <div class="folder"  *ngFor ="let folder of userFolders">
      <div class="folderName" [routerLink]="['file', folder.folder_id]" >{{folder.folder_name}}</div>
        <button mat-button class = "addfile-btn" (click)="openDialog(folder)"><i class="fa fa-plus "></i></button>
        <button mat-button class = "edit-btn" ><i class="fa fa-edit"></i></button>
        <button mat-button class = "remove-btn" (click) = 'deleteFolder(folder)'><i class="fa fa-trash" ></i></button>
    
    
    </div>
    
    </div>

</div>

