.app-grid {
    display: grid;
    grid-template: 65px 40px auto  / 1fr;
    background-color: rgb(18, 17, 20);
    min-height: 600px;
      
}



.folders-header {
    grid-row: 2 / 3;
    display: grid;
    grid-template: 50px / repeat(10 ,1fr);
}

.addfolder-toggle {
    background-color: white;
    grid-column: 1 / 2;
    height: 90%;
    border-radius: 0 0 15px 15px;
}

.addfolder-action {

    grid-column: 2 / 3;
}

.addnewfolder {
    font-size: 20px;
    color: black;
}


.header {
    grid-row: 1 / 2;
}



.folders-grid {
    padding-top: 25px;    
    padding-left: 40px;
    grid-row: 3 / 4;
    display:grid;
    grid-template: auto /  repeat(5,1fr);
}

.addfile-btn {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    width: 100%;
    margin: auto;
    

    
}

fa {
    font-size: 27px;
}

.edit-btn {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    width: 100%;
    margin: auto;
    
    
}

.remove-btn {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    width: 100%;
    margin: auto;
}

.folderName {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    font-size: 20px;
    margin: auto;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
}



.folder {
    display:grid;
    grid-template: 10% 65% 25% / repeat(3, 33.3333333%);
    width: 200px;
    height: 200px;
    background-image: url('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/folder-icon.png');
    background-size: cover;
}




 