

<mat-toolbar color="primary">

  <mat-toolbar-row>
    <img src="https://image.flaticon.com/icons/svg/334/334786.svg" alt="files" class="icon">
    <span class="smartyfile">Smartyfile</span>
    <span class="slogen"> Works to keep what's important for you</span>
    <span class="example-spacer"></span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar>
<!--   
<mat-toolbar >
  <mat-toolbar-row class="header">
      
<span class="smartyfile">Smartyfile </span> <br> <span class="slogen">   Works to keep what's important for you</span>
  </mat-toolbar-row>
</mat-toolbar> -->


<div class="example-container">
  <mat-form-field>
    <input matInput class="username" placeholder="User name" [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <input matInput class="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <div class="logButtons">
    <button mat-button type="button" (click)="login()">Login</button>
    <br>
    <button mat-button type="button" (click)="openDialog(user)">Sign-up</button>
  </div>
</div>