.files-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  repeat(auto-fit, auto);
    background-color: rgb(30,29,34);
    min-height: 600px;
}

.file-card {
    box-sizing: border-box;
    border-radius: 15px;
    padding:5%;
}






